@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url(assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
}
.header {
  border: 1px solid red;
}
.main {
  border: 1px solid red;
}
.footer {
  border: 1px solid red;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: aqua;
}
html {
  scroll-behavior: smooth;
}
.nav-link {
  text-decoration: none;
  color: aqua;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.nav-item a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-item a:hover {
  color: #4d2323;
}
.nav-item {
  padding-right: 10px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  display: flex;
}

.section {
  width: 50%;
}
